.container,
.container h1, h2, h3, h4 {
    font-family: MillerBanner-Light;
    font-weight: normal !important;
    background-color: white;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: normal !important;
}

.navBar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 10000;
    top:0;
}

.navBar h3 {
    position: fixed;
    display: inline-block;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 43%;
    color: #202020;
}

.navBar .backButton {
    position: fixed;
    margin-top: 20px;
    margin-left: 4%;
}

.navBar .settings {
    position: fixed;
    margin-top: 20px;
    margin-left: 90%;
}

.dropDown {
    position:fixed;
    width: 100%;
    height: 50px;
    top: 50px;
    border-bottom: 2px solid #b69f58;
    border-top: 2px solid #b69f58;
    z-index: 10000;

}

.dropDown select#dropDownSelect {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    border: 0 solid #AAA;
    color: #555;
    font-size: 15px;
    overflow: hidden;
    padding: 5px 10px;
    margin-left: 2%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 98%;
    background-color: #ffffff;
}


select:focus, select:focus{
    outline: none;
}

.dropDown .dropDownButton {
    position: absolute;
    top: 20px;
    right: 4%;
}

.salonList {
    margin-top: 120px;
}

.salonList ul {
    margin-top: 0;
    -webkit-padding-start: 0;
    padding-left: 0;
    display: block;

}

