.container {
    display: block;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 0;

    font-family: MillerBanner-Light;
    font-weight: normal !important;

}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.container a {
    text-decoration: none;
    color: #202020;
}

.columnOne {
    width: 10%;
    padding-left: 4%;
    float: left;
}

.columnOne .available {
    display: inline-block;
    padding-top: 3px;
}

.columnTwo {
    width: 50%;
    padding-left: 5%;
    float: left;
}

.columnTwo .salonName {
    font-size: 20px;
}

.columnTwo .starAndRaters {
    margin-top: 5px;
    margin-bottom: 5px;
}

.columnTwo .raters {
    font-size: 11px;
    margin-left: 5%;
}

.columnTwo .salonAddress {
    font-size: 15px;
}

.columnThree {
    width: 15%;
    float: left;
    text-align: right;
}

.columnThree .salonPrice {
    display: block;
    padding-top: 3px;

}

.columnThree .salonDuration {
    float: right;
    font-size: 13px;
    padding-top: 10px;
}

.columnFour {
    position: relative;
    width: 10%;
    height: 100%;
    margin-right: 4%;
    float: right;
    background-repeat: no-repeat;
}

.columnFour img {
    position: absolute;
    right: 4%;
    top: 35px;
}



