.container {
    position: relative;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.imgContainer {
    position: relative;
    width: 100%;
}

.salonImage {
    width: 100%;
    z-index: -10000;
}

.backLink {
    position: absolute;
    top: 20px;
    left: 3%;
}

.makeFavorite {
    position: absolute;
    top: 20px;
    right: 3%;
}

.gradient {
    position: absolute;
    height: 70px;
    width: 100%;
    bottom: 0;
    background: linear-gradient(transparent, black);

}
.salonName {
    position: absolute;
    bottom: 15%;
    left: 3%;
    font-size: 22px;
    color: white;
    background-color: transparent;
}

.salonStars {
    position: absolute;
    bottom: 7%;
    left: 3%;
    background-color: transparent;
}

.salonRaters {
    position: absolute;
    bottom: 7%;
    left: 22%;
    background-color: transparent;
    font-size: 13px;
    color: white;
    margin-left: 1%;
}

.fakeTabMenu {
}

.info,
.schema
{
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.info {
    border-bottom: 2px solid #b69f58;
}

.schema {
    border-bottom: 1px solid #e8e8e8;

}

.infoBox {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 15px;
    font-size: 15px;
    color: #656565;
}

.infoBoxRow {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.infoBoxRow p {
    display: inline;
    padding-left: 3%;
}
